
/* Estilos generales */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    }
    
    a {
    color: #00bcd4;
    text-decoration: none;
    }
    
    ul {
    list-style: none;
    }
    
    /* Header */
/* Header */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .search-bar input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 6px 10px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #ff9800;
  }

.logo img {
    max-width: 50px; /* Ajusta el tamaño máximo del logo */
    height: auto; /* Permite que la altura se ajuste proporcionalmente */
}

.login {
    margin-left: 20px;
}

.login a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #00bcd4;
    color: #fff;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 10px;
    font-size: 16px; /* Ajusta el tamaño de la fuente */
}

.nav-link {
    font-family: Arial, sans-serif; /* Cambia la fuente de los elementos con la clase "nav-link" */
    font-size: 25px; /* Ajusta el tamaño de la fuente */
    color: #00bcd4; /* Agrega el color de texto inicial */
    transition: color 0.3s ease-in-out; /* Agrega la transición de color */
}

.nav-link:hover {
    color: #ff9800; /* Cambia el color de texto al pasar el mouse */
}



.login a:hover {
    background-color: #ff9800;
    transform: scale(1.1);
}



    /*Acomodado de peliculas en pagina principal*/
    
    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .image-grid img {
        width: 100%;
        height: auto;
    }

    .image-grid .image-container {
        position: relative;
    }

    .image-grid .image-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        text-align: center;
        font-style: italic;
    }




    /* Main */
    main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    }
    
    aside {
        flex-basis: 20%;
        padding: 20px;
        background-color: #f2f2f2;
    }

    aside h2 {
        margin-bottom: 10px;
        color: #00bcd4;
    }

    aside ul {
        padding: 0;
        margin: 0;
    }

    aside ul li {
        margin-bottom: 10px;
        list-style: none;
    }

    aside ul li a {
        text-decoration: none;
        color: #000;
    }

    aside ul li a:hover {
        color: #00bcd4;
    }
    
    section {
        flex-basis: 75%;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    
    section h1 {
        margin-bottom: 20px;
        color: #00bcd4;
        font-size: 32px;
    }
    
    section p {
        margin-bottom: 30px;
        font-size: 18px;
        color: #666;
    }
    
    section .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    
    section .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    section img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        transition: transform 0.3s ease-in-out;
    }
    
    section img:hover {
        transform: scale(1.2);
    }
    
    section .image-caption {
        color: #333;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .pagination {
        margin-top: 20px;
        text-align: center;
    }
    
    .pagination a {
        display: inline-block;
        padding: 8px 12px;
        margin-right: 5px;
        background-color: #f2f2f2;
        color: #333;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
    
    .pagination a:hover {
        background-color: #ddd;
    }
    
    .pagination .active {
        background-color: #00bcd4;
        color: #fff;
    }
    
    .pagination .disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    /* Footer */
    footer {
        background-color: #f2f2f2;
        padding: 20px;
        margin-top: 20px;
        }
        
        footer p {
        text-align: center;
        color: #666;
        }
        
        /* Responsive */
        @media (max-width: 768px) {
        header {
        padding: 10px;
        }
              
              .mobile-menu-icon span {
                display: block;
                width: 25px;
                height: 3px;
                background-color: #000;
                margin-bottom: 5px;
              }

        aside {
            display: none; /* Ocultar el aside en la versión responsive */
          }
        nav ul {
            flex-direction: column;
            align-items: flex-start;
        }
        
        nav li {
            margin: 10px 0;
        }
        

        
        main {
            flex-direction: column;
        }
        
        aside {
            flex-basis: 100%;
        }
        
        section {
            flex-basis: 100%;
            margin-top: 20px;
        }
    }